@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Patrick+Hand+SC&display=swap');

.card {
  background-color: #F2EFEB;
  width: 28vh;
  height: 33vh;
  position: relative;
  box-shadow: 5px 5px 10px #0d0d0d;
}

.thumbnail {
  margin: 0;
  position: absolute;
  left: 1vh;
  top: 1vh;
  width: 26vh;
  height: 26vh;
  object-fit: cover;
  object-position: top;
  background-color: #000;
}

.detailsPrompt {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .6s ease-in;
}

.detailsPrompt h2 {
  text-align: center;
  padding: 1vh;
  color: #fff;
}

.detailsPrompt:hover {
  opacity: 1;
  transition: .3s ease-out;
}

.projectName {
  font-family: 'Patrick Hand SC', cursive;
  color: #000;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 6vh;
  margin-bottom: -10px;
  font-size: 1.4em;
}